<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Arraybracket.Bundling sample</title>
		@System.Web.Optimization.Styles.Render("~/Styles/combined")
	</head>
	<body>
		<h1>Arraybracket.Bundling sample</h1>
		<p>This sample includes has two demonstrations:</p>
		<ul>
			<li><a href="ScriptDependencyOrderer.cshtml">ScriptDependencyOrderer sample</a></li>
			<li><a href="CssUrlVersioner.cshtml">CssUrlVersioner sample</a></li>
		</ul>
	</body>
</html>