<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Arraybracket.Bundling.Sample</title>
		
		<style>
			html {
				font-size: 0;
			}
		</style>
	</head>
	<body>
		<h1>Arraybracket.Bundling.Sample</h1>
		<p>Placeholder content explaining the sample.</p>
		@System.Web.Optimization.Scripts.Render("~/Scripts/combined")
	</body>
</html>